In [1]:
import tabula

import pandas as pd

import csv

In [2]:
lista_tabelas = tabula.read_pdf("padrao-tiss_componente-organizacional_202111.pdf", pages="120")

# Vê a quantidade de tabelas retornadas
print(len(lista_tabelas))

Got stderr: dez 11, 2021 10:42:33 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'Helvetica,Bold'
dez 11, 2021 10:42:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'Helvetica,Bold'

2

In [3]:
tabela = lista_tabelas[1]

In [4]:
# Definindo a lista 0 como coluna
tabela.columns = tabela.iloc[0]

In [5]:
# Excluindo primeira e segunda linha
tabela = tabela.drop(0)
tabela = tabela.drop(1)
tabela = tabela.drop(4)

In [6]:
tabela[["Código", "Descrição da categoria"]] = tabela["Código"].str.split(' ', expand=True)

In [7]:
#Indicando a coluna Código como index
tabela = tabela.set_index("Código")

In [8]:
tabela

0      Descrição da categoria
Código
1                   Alteração
2                    Inclusão
3                    Exclusão

In [9]:
# Exportando dataframe para csv
tabela.to_csv('quadro32.csv', sep='\t', encoding='utf-8')