In [1]:
import tabula

import pandas as pd

import csv

In [2]:
lista_tabelas = tabula.read_pdf("padrao-tiss_componente-organizacional_202111.pdf", pages="114")

# Vê a quantidade de tabelas retornadas
print(len(lista_tabelas))

Got stderr: dez 11, 2021 10:38:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'Helvetica,Bold'
dez 11, 2021 10:38:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'Helvetica,Bold'

1

In [3]:
tabela = lista_tabelas[0]

In [4]:
tabela.columns = tabela.iloc[0]

#Mostra as colunas da tabela
tabela.columns

Index(['Código Descrição da categoria'], dtype='object', name=0)

In [5]:
tabela[['Código', 'Descrição da categoria', 'del', 'del']] = tabela['Código Descrição da categoria'].str.split(" ", expand=True)

In [6]:
del tabela['Código Descrição da categoria']
del tabela['del']

In [7]:
# Excluindo primeira linha
tabela = tabela.drop(0)

In [8]:
#Indicando a coluna Código como index
tabela = tabela.set_index("Código")

In [9]:
tabela

0      Descrição da categoria
Código
1                   Operadora
2                   Prestador
3                  Consumidor
4                      Gestor
5                         ANS

In [10]:
# Exportando dataframe para csv
tabela.to_csv('quadro30.csv', sep='\t', encoding='utf-8')